<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>aisle9</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>

  <h3>Welcome to aisle9!</h3>

  <p>
    Shopping made easy.
  </p>
  <p>
    Let's get started!
  </p>
  <p>
    <button ion-button color="primary" menuToggle>Menu</button>
  </p>

</ion-content>
